PORT=8080
API_BASE_URL=http://api:2026
CHECKER_ENDPOINT=http://checker:3031/check
OPENID_IDENTIFIER_CLAIM=sub
DEBUG_IGNORE_JWT=0
ADMIN_TOKEN=aaaaaa
ALLOWED_GROUP=demo-users
MAX_IDENTITIES_PER_USER=25
DEMO_GROUP_NAME=demo-users
BATCH_INTERVAL_SECONDS=20